	<h4>$control.title</h4>
	<div id="wrapper">
		<audio controls autoplay>
			<source src="$control.audio">
			<source src="$control.audio">
			Your browser does not support the audio element.
		</audio>

		<br/>
		<br/>
	</div>
